a{
    text-decoration: none;
}

/* HOMEPAGE - SECTION 1*/
#section1_hp{
    position: relative;
    z-index: 1;
}

#full{
    width: 100%;
    height: 100%;
}

#bloc_banniere p{
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 70px 30px 0 30px;
}

#bloc_banniere img{
    opacity: 1;
    width: 20px;
    height: auto;
    text-align: center;
    padding: 10% 0% 10% 50%;
    transform: translate(-5%);
}

/* HOMEPAGE - SECTION 2*/

#section2_hp img{
    width: 100%;
}
#section2_hp h3{      
    font-size: 1.4em;
    color: white;
    background-color: var(--color_logo);
    padding: 30px 50px;
    text-align: center;
    position: absolute;
}

/* HOMEPAGE - SECTION 3 */
#grille_bouton{
    margin-bottom: 50px;
}
#garanties{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
    justify-content: space-around;
    align-items: center;
    column-gap: 20%;
}

#garanties img{
    height: 80px;
    width: auto;
    margin-left: 50%;
    transform: translate(-50%);
}
#garanties p{
    padding-top: 20px;
}
#grille_bouton h2{
    padding: 20px 100px;
}

@media screen and (max-width: 819px) { 
    /* HOMEPAGE - SECTION 1*/
    #bloc_banniere{
        width: 40%;
        height: auto;
        position: absolute;
        background-color: var(--color_logo);
        opacity: 0.75;
        right: 50px;
        bottom : 4px;
        z-index: 3;
    }

    /* HOMEPAGE - SECTION 2*/
    #section2_hp{
        display: flex;
        flex-wrap: wrap;
        padding : 5%;
    }

    #grille_bouton{
        margin: 50px;
        text-align : center;
    }

    h3{
        margin-top: -50px;
    }
}

@media screen and (min-width: 820px) { 
    /* HOMEPAGE - SECTION 1*/
    #bloc_banniere{
        width: 25%;
        height: auto;
        position: absolute;
        background-color: var(--color_logo);
        opacity: 0.75;
        right: 50px;
        bottom : 4px;
        z-index: 3;
    }

    #bloc_banniere :hover{
        opacity: 0.9;
    }

    /* HOMEPAGE - SECTION 2*/
    #section2_hp{
        display: grid;
        grid-template-columns: repeat(3,30%);
        grid-template-rows: 1fr, 1fr;
        grid-gap: 5rem;
        padding: 100px;
    }

    .grille{
        position: relative;
    }
    #grille_texte{
        grid-column: 1/4;
        grid-row: 1/2;
        overflow: scroll;
        margin-bottom: 40px;
    }
    #grille_sacs{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #grille_sacs h3{
        top: -50px;
        left: -50px;
    }
    #grille_sacs img{
        width: 100%;
    }
    #grille_cercles{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #grille_cercles h3{
        bottom: 50px;
        right: -50px;
    }
    #grille_portemonnaies{
        grid-column-start: 3;
        grid-row: 2/3;
    }
    #grille_portemonnaies h3{
        bottom: -60px;
        left: -50px;
    }
}