h1{
    width: 100%;
    margin-bottom: 30px;
    padding-top: 80px;
}

h3{
    font-size: 1em;
    margin: 0;
}

aside p{
    color: white;
    padding: 10px 20px;
}

#no_product{
    padding: 100px;
}

.title{
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

#return{
    position: relative;
    padding-top: 20px;
}

#return::before {
    content: "< ";
    position: absolute;
    left: -15px;
    top: 20px;
}

section .button_p{
    position: inherit;
    transform: none;
}

.produit_panier img{
    width: 20px;
    height: auto;
}

#prix{
    padding: 30px;
    text-align: right;
    margin-right: 6%;
    margin-bottom: 10px;
    font-size: 1.3em;
}

#plus{
    font-weight: 900;
    font-size: 1.4em;
    margin-top: -5px;
    cursor:  pointer;
}
#moins{
    font-weight: 900;
    font-size: 1.4em;
    margin-top: -5px;
    cursor:  pointer;
}

@media screen and (max-width: 719px) {
    section{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        margin: 10%;
    }

    article{
        width: 100%;
        height: auto;
        background-color: var(--color_header);
        padding: 25px;
    }
    
    aside{
        width: 100%;
        height: auto;
        background-color: var(--color_logo);
        padding: 30px 15px;
    }

    .produit_panier{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10% 15%;
        border-bottom: solid 1px ;
        margin: 2%;
        row-gap: 15px;
    }
    
    #boutons div{
        width: 100%;
        padding: 20px;
        margin-left : 15%;
    }

    a, .button_p{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 720px) { 
    section{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        margin-left: 10%;
    }

    article{
        width: 60%;
        height: auto;
        background-color: var(--color_header);
        padding: 25px;
    }
    
    aside{
        width: 20%;
        height: auto;
        background-color: var(--color_logo);
        padding: 30px 15px;
    }

    .produit_panier{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3% 10%;
        border-bottom: solid 1px ;
        margin: 0 5%;
    } 

    #boutons{
        margin: 30px 0 40px 12%;
    }
}