article{
    padding: 5%;
}

article select{
    padding-left: 10px;
    width: 250px;
}

section div{
    width: 100%;
    padding: 20px;
}

section{
    margin-bottom: 50px;
}


@media screen and (max-width: 719px) {

    .button_p{
        width: 80%;
        background-color: var(--color_background);
    }

    article input,textarea{
        width: 90%;
    }

    article button, input, select, textarea {
        font-family : inherit;
        font-size : 100%;
        margin: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 0;
        color: var(--color_textenoir);
    } 

    label{
        margin: 20px;
    }

}

@media screen and (min-width: 720px) {

    .button_p{
        width: 50%;
        background-color: var(--color_background);
        margin-left: 50%;
    }

    article input,textarea{
        width: 98%;
    }

    article button, input, select, textarea {
        font-family : inherit;
        font-size : 100%;
        margin: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 0;
        color: var(--color_textenoir);
    } 

}